{{> general/html-header}}

{{> interface/page-header }}

{{> interface/content-header }}

<div class="flex flex-col px-6 lg:px-0 lg:grid gap-4 xl:gap-10  grid-cols-[auto_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_auto] w-full relative z-30">

    {{> interface/aside-nav             gridClass="hidden xl:flex col-start-1 col-span-2"}}

    {{> interface/page-content          gridClass=" md:col-start-2 md:col-span-3 xl:col-start-3" }}
    
    {{> interface/aside-image           gridClass="hidden md:block col-start-5 col-span-3 xl:col-start-6 xl:col-span-2 z-0" }}

    {{> interface/aside-notes-popup     gridClass="col-start-5 col-span-3 xl:col-start-6 xl:col-span-2 z-10" }} 

</div>

{{> general/page-footer}}



{{> general/html-footer}}
