<div class="flex flex-col gap-4 w-full sticky top-8 max-h-screen px-4 pt-20">
    <img src="images/d1h3/d1h3-600/2-8_Medemblik.jpg" class="w-full" alt="" loading="lazy">
    <div class="text-sm">
        <div class="captionTitle">Plattegrond van Medemblik, circa 1560</div><span class="openCaption">[i]</span>

        <div class="moreCaption">Deze plattegrond van Medemblik aan de vooravond van de Opstand is vervaardigd
            door Jacob van Deventer. Als haven fungeert de gracht aan de oostzijde
            (boven). Aan de havenmond ligt ter bescherming kasteel Radboud. De plattegrond
            van Paulus Utenwaal laat zien dat in 1599 aan de westzijde (onder) een
            grote nieuwe haven is gegraven met scheepswerven. Een bolwerk naast het
            kasteel beschermt de havenmond.
            <br>Rijksmuseum, Amsterdam.
        </div>
    </div>
</div>