<!-- image -->
<aside class="relative z-0 {{gridClass}}">
    {{> utils/contentNavagationPanel }}

    
    <div class="min-h-screen sticky top-0 flex flex-col justify-center items-center px-6 bg-nmgnBlue-50 z-0">

         <figure class="flex flex-col">
            <img id="asideImg" src="images/d{{chapterMetadata.part}}h{{chapterMetadata.chapter}}/d{{chapterMetadata.part}}h{{chapterMetadata.chapter}}-600/{{firstImage.htmlRaw}}" class="w-full border" alt="{{firstImage.imagedata.description}}" loading="lazy">
            <div class="flex justify-end">
                <button onclick="bigImageViewer();return false;" class="bg-nmgnBlue-800 p-2 rounded text-white text-sm -mt-1 cursor-pointer">Vergroten</button>
            </div>
            <figcaption  class="text-sm max-w-xl mx-auto">
                <strong class="mt-4 block" id="asideImgTitle">{{firstImage.imagedata.title}}</strong>
                <span id="asideCaption">
                    {{firstImage.imagedata.description}}
                    {{firstImage.imagedata.description2}}
                    {{firstImage.imagedata.description3}}
                    <br>{{firstImage.imagedata.location}}
                </span>
                
            </figcaption>
        </figure> 
        

    </div>
</aside>