<!-- Notes popup -->
<div class="z-10 absolute w-full {{gridClass}}" id="noteCol">
    <div class="hidden absolute w-full max-w-96 flex-col bg-white border border-neutral-200 shadow-2xl -translate-x-6 translate-y-16 lg:translate-y-0" id="notePopupBlock">
        
        
        <div class="flex justify-between p-4 border-b border-neutral-200">
            <div class="font-bold" id="popupNoteNr"></div>
            <div class=""><button class="cursor-pointer px-4" onclick="closeNotePopUp()">&#10006;</button></div>
        </div>
        <div class="hidden xl:block border-t border-neutral-200 -translate-x-8 -translate-y-8 w-8"></div>
        <div class="w-full bg-white p-4 min-h-40 text-neutral-600 text-sm" id="notePopupContent" > </div>
        
    </div>
</div>