<header class="w-full bg-nmgnBlue-900 text-white p-3">
    <div class="max-w-[1900px] mx-auto  flex justify-between">
        <a href="index.html"><em>Nieuwe</em> <strong>Maritieme Geschiedenis</strong> <span class="noSmall">van</span> <strong>Nederland</strong></a>
        <div class="">
            
            <button class="cursor-pointer" onclick="toggleVis('topMenuPop', 'show'); setFocus('topnav_d1')" aria-label="klik voor alle hoofdstukken">Hoofdstukken</button>
        </div>
    </div>
</header>