<div class="bigImageViewer fixed top-0 bottom-0 left-0 right-0 bg-black/90 flex flex-col z-50 overflow-hidden" id="bigImageViewer" style="display: none">
    <div class="bigImageHeader w-full  justify-end flex">
        <button onclick="closeBigImage();return false;" class="rounded bg-nmgnBlue-600 hover:bg-nmgnBlue-700 text-white p-3 m-4 cursor-pointer">&#10006;</button>
    </div>

    <div id="bigImageViewerFrame" class="h-full grow flex justify-center">
        <figure id="zoomFig" class="zoom h-full" onmousemove="zoom(event)" style="background-image: url();">
            <img src="" id="zoomImg" class="">
        </figure>
    </div>
</div>