<div class="bigImageViewer fixed top-0 bottom-0 left-0 right-0 bg-black/90 flex flex-col z-50 overflow-hidden" id="bigImageViewer" style="display: none">
    <div class="bigImageHeader w-full  justify-end flex">
        <button type="button" onclick="closeBigImage();return false;" class="m-4 cursor-pointer py-1 px-3 bg-nmgnBlue-100 rounded-full text-nmgnBlue-900 text-sm min-w-[44px] min-h-[44px] flex items-center justify-center" aria-label="Sluit afbeelding">&#215;</button>
    </div>

    <div id="bigImageViewerFrame" class="h-full grow flex justify-center">
        <figure id="zoomFig" class="zoom h-full" onmousemove="zoom(event)" style="background-image: url();">
            <img src="" id="zoomImg" class="">
        </figure>
    </div>
</div>