 <div class="grid grid-cols-subgrid w-full col-span-11 bg-[#053a51] py-8">
    <div class="col-span-9 col-start-2 lg:col-start-2 lg:col-span-4"><strong>Deel 2</strong> <em>De vaart in en buiten Europa</em> <br>1600 - 1780 </div>
    <div class="text-[#2bf6d7] col-span-9 col-start-2 text-2xl lg:text-4xl xl:text-6xl lg:text-center my-4"><h1>Een veelkoppig monster: <br class="">De Nederlandse zeemacht, 1568-1780</h1></div>
    <div class="col-span-9 col-start-2 lg:col-start-2 lg:col-span-4">Door Victor Enthoven, Marc van Alphen en Remmelt Daalder</div>
 </div>

