<div class="w-full bg-green-100 grid grid-cols-[minmax(4rem,_auto)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(4rem,_auto)]">
    <div class="bg-red-200 col-start-2 col-span-2">1</div>
    <div class="bg-blue-200 col-start-5 col-span-2">2</div>
</div>


<!-- 
grid-cols-[200px_minmax(900px,_1fr)_100px]

auto_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_minmax(10px,_1fr)_auto
auto_minmax(4rem,_auto) 

-->