<div class="w-full flex justify-end sticky top-1 z-10 pr-6 pt-2 xl:hidden">
    <button class=" bg-neutral-200 px-3 py-1 rounded-full text-sm absolute cursor-pointer" onclick="toggleVis('extraNavPanel', 'show');">Inhoud <span class="text-neutral-400 text-xs">&#9660;</span></button>
    <div class="w-full absolute mt-7 ml-10 h-[100vh] hidden flex-col " id="extraNavPanel">
        <div class="flex justify-end bg-neutral-50">
            <button class="px-1 m-1 rounded bg-neutral-200 hover:bg-neutral-300 cursor-pointer" onclick="toggleVis('extraNavPanel', 'hide');">&#10006;</button>
        </div>
        <div class="contentNavigation bg-neutral-50 ml-10 flex flex-col p-4 text-xs gap-2 w-full *:no-underline *:text-neutral-800  overflow-y-auto"></div>
    </div>
</div>