<button class="hidden md:flex px-2 absolute translate-x-8 right-0 p-2 hover:bg-nmgnBlue-100 *:hover:stroke-nmgnBlue-600 rounded cursor-pointer" onclick="toggleVis('popupP{{@index}}', 'show');"  aria-label="klik om een link naar deze paragraaf in het klembord te zetten ({{@index}})">{{>icons/iconLink isFill=false twSize="5" twColor="neutral-300"}} </button>
<span class="hidden p-4 bg-nmgnBlue-100 border-nmgnBlue-200 border absolute right-0 shadow-2xl font-sans text-sm rounded z-20" id="popupP{{@index}}">
    <input type="text" name="" id="paragraphLink{{@index}}" value="paragraph{{@index}}" class="hidden w-full">
    
    <button class=" md:flex px-2  right-0 p-2 hover:bg-nmgnBlue-100 *:hover:stroke-nmgnBlue-600 rounded cursor-pointer" onclick="copyText('{{@index}}')" aria-label="klik om een link naar deze paragraaf in het klembord te zetten ({{@index}})" id="b_paragraphLink{{@index}}">
        Klik hier voor een link naar deze paragraaf.
    </button>

    <button class=" md:flex px-2 -translate-y-3 right-0 p-2 hover:bg-nmgnBlue-100 *:hover:stroke-nmgnBlue-600 rounded cursor-pointer" onclick="toggleVis('popupP{{@index}}', 'hide');" aria-label="klik om een link naar deze paragraaf in het klembord te zetten ({{@index}})" id="b_paragraphLink{{@index}}">
        &#10006;
    </button>
</span>